#title-zona-rossa > .title, #title-zona-rossa > .subtitle {
    color: #e2001a;
}
#title-zona-arancione > .title, #title-zona-arancione > .subtitle {
    color: #ee7f01;
}
#title-zona-gialla > .title, #title-zona-gialla > .subtitle {
    color: #fbc02d;
}

.hero.rossa {
    background-color: #e2001a;
}
.hero.arancione {
    background-color: #ee7f01;
}
.hero.gialla {
    background-color: #fbc02d;
}
.hero.bianca {
    background-color: #ccc;
}

td.rossa {
    background-color: #e2001a;
    color: white;
}
td.arancione {
    background-color: #ee7f01;
    color: white;
}
td.gialla {
    background-color: #fbc02d;
    color: white;
}
td.bianca {
    background-color: #fff;
    color: #000;
}
td.rossa.maybe {
    background-color: #e2001aaa;
    color: white;
}
td.arancione.maybe {
    background-color: #ee7f01aa;
    color: white;
}
td.gialla.maybe {
    background-color: #fbc02daa;
    color: white;
}
td.bianca.maybe {
    background-color: #eee;
    color: #444;
}

.section.body {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#ul-zona {
    list-style-type: disc;
    list-style-position: inside;
}