include includes/dati.pug
doctype html
include includes/head.pug
body
    include includes/hero.pug
    .section.container(style="text-align: center")
        include includes/cartina.pug
    include includes/card.pug
    .section.container: each rule in data.reverse()
        +rule_to_card(rule)
    include includes/footer.pug
    script(src="/script.js" async)