-
    1; // Trucchetto per riutilizzare il file pug come js
    const _data = [
        // dpcm 3 dicembre
        {from: "2020-12-04", to: "2021-01-05", color: "gialla", regions: ["lazio", "liguria", "molise", "trento", "sardegna", "sicilia", "veneto"]},
        {from: "2020-12-04", to: "2021-01-05", color: "arancione", regions: ["basilicata", "calabria", "emiliaromagna", "friuliveneziagiulia", "lombardia", "marche", "piemonte", "puglia", "umbria"]},
        {from: "2020-12-04", to: "2021-01-05", color: "rossa", regions: ["abruzzo","campania","bolzano","toscana","valdaosta"]},
        {from: "2021-01-05", to: "2021-01-06", color: "rossa", any: true},
        {from: "2021-01-07", to: "2021-01-08", color: "gialla", any: true, notes: "Sono vietati gli spostamenti tra regioni."},
        {from: "2021-01-09", to: "2021-01-10", color: "arancione", any: true},
        // https://www.fanpage.it/politica/cinque-regioni-in-zona-arancione-resto-ditalia-in-zona-gialla-da-lunedi-11-gennaio/
        {from: "2021-01-11", color: "gialla", regions: ["abruzzo","basilicata","campania","friuliveneziagiulia","lazio","liguria","marche","molise","piemonte","puglia","sardegna","toscana","bolzano","trento","umbria","valdaosta"]},
        {from: "2021-01-11", color: "arancione", regions: ["calabria", "emiliaromagna", "lombardia", "sicilia", "veneto"]},
        // https://www.repubblica.it/cronaca/2021/01/15/news/coronavirus_colori_regioni-282656486/
        {from: "2021-01-17", to: "2021-03-05", color: "gialla", regions: ["basilicata","campania","molise","trento","sardegna","toscana"]},
        {from: "2021-01-17", to: "2021-03-05", color: "arancione", regions: ["abruzzo", "calabria", "emiliaromagna", "friuliveneziagiulia", "lazio", "liguria", "marche", "piemonte", "puglia", "umbria", "valdaosta", "veneto"]},
        {from: "2021-01-17", to: "2021-03-05", color: "rossa", regions: ["bolzano","lombardia","sicilia"]},
    ];
    const nomiFriendly = {
        abruzzo: "Abruzzo",
        basilicata: "Basilicata",
        calabria: "Calabria",
        campania: "Campania",
        emiliaromagna: "Emilia Romagna",
        friuliveneziagiulia: "Friuli Venezia Giulia",
        lazio: "Lazio",
        liguria: "Liguria",
        lombardia: "Lombardia",
        marche: "Marche",
        molise: "Molise",
        piemonte: "Piemonte",
        puglia: "Puglia",
        sardegna: "Sardegna",
        sicilia: "Sicilia",
        toscana: "Toscana",
        bolzano: "Trentino prov. Bolzano",
        trento: "Trentino prov. Trento",
        umbria: "Umbria",
        valdaosta: "Valle d'Aosta",
        veneto: "Veneto",
    };
    const colori = {
        rossa: "#e2001a",
        arancione: "#ee7f01",
        gialla: "#fbc02d"
    };
    const months = ["gennaio","febbraio","marzo","aprile","maggio","giugno","luglio","agosto","settembre","ottobre","novembre","dicembre"];
    class Regola {
        constructor(src) {
            this.color = src.color;
            this.from = new Date(src.from);
            this.hasEnd = "to" in src;
            if (this.hasEnd) {
                // Fix in modo che "to" comprenda tutta la giornata indicata: aggiungo 1 giorno
                const to = new Date(src.to);
                to.setDate(to.getDate() + 1);
                this.to = to;
                this.originalTo = new Date(src.to);
            }
            this.any = src.any || false;
            this.regions = src.regions || [];
            this.notes = src.notes || "";
            this.maybe = src.maybe || false;
            if (this.regions.some(region => !nomiFriendly[region]))
                throw new Error("Healthcheck failed, invalid regions: " + this.regions.filter(region => !nomiFriendly[region]).join(","))
            if (this.regions.length == 0 && !this.any)
                throw new Error("Healthcheck failed, no regions selected");
        }
        dateIsContained(date) {
            if (date < this.from)
                return false;
            if (this.hasEnd && date >= this.to)
                return false;
            return true;
        }
        regionIsAffected(region) {
            return this.any || this.regions.includes(region);
        }
        formatInterval() {
            let ret = "Dal " + formatDate(this.from);
            if (this.hasEnd)
                ret += " al " + formatDate(this.originalTo);
            return ret;
        }
    }
    const data = _data.map(r => new Regola(r));
    function allRulesForRegion(region) {
        return data.filter(item => item.regionIsAffected(region));
    }
    function ruleFor(region, date = new Date()) {
        if (!Object.keys(nomiFriendly).includes(region))
            throw new Error("Unknown region " + region);
        let rule;
        for (const item of data) {
            if (item.regionIsAffected(region) && item.dateIsContained(date))
                rule = item;
        }
        return rule;
    }
    function colorOf(region, date = new Date()) {
        return ruleFor(region, date).color;
    }
    function formatDate(date) {
        return date.getDate() + " " + months[date.getMonth()];
    }
