footer.footer.has-text-centered
    p Le informazioni fornite potrebbero essere incomplete o non corrette.
    p Attieniti sempre a fonti governative ufficiali.
    p: each nomeFriendly, nomeRegione in nomiFriendly
        a(href="/"+nomeRegione)=nomeFriendly
        if (nomeRegione != "veneto")
            |  | 
    p: a(href="https://github.com/CapacitorSet/inchezonasiamo.it") Contribuisci al progetto