footer.footer.has-text-centered
    p Le informazioni fornite potrebbero essere incomplete o non corrette.
    p Attieniti sempre a fonti governative ufficiali.
    p: a(href="https://github.com/CapacitorSet/inchezonasiamo.it") Contribuisci al progetto