head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title In che zona siamo?
    meta(name="description" content="In che zona siamo? Scopri i DPCM regione per regione.")
    link(rel="stylesheet" href="/bulma.min.css")
    link(rel="stylesheet" href="/custom.css")
