head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title In che zona siamo?
    meta(name="description" content="In che zona siamo? Scopri i DPCM regione per regione.")
    meta(property="article:modified_time" content=(new Date().toISOString()))
    link(rel="stylesheet" href="/bulma.min.css")
    link(rel="stylesheet" href="/custom.css")
    link(rel="apple-touch-icon" href="/apple-touch-icon.png")
