section.hero.is-primary.is-small
    .hero-body
        .container.has-text-centered
            h1.title.is-size-1 In che zona siamo?
            .field
                .select: select#regione(onchange="onChangeRegione()")
                    option(value="" selected disabled) Inserisci la tua regione...
                    for nomeFriendly, nomeOption in nomiFriendly
                        option(value=nomeOption)=nomeFriendly
            // h2.subtitle
            p="Ultimo aggiornamento: " + new Date().toLocaleString("it-IT", {timeZone: "Europe/London", day: '2-digit', month: 'long', hour: 'numeric', minute: 'numeric'})