include dati.pug
    include hero_small.pug
    include zona_rossa.pug
    include zona_arancione.pug
    include zona_gialla.pug
    include card.pug
    include calendario.pug
    mixin paginaRegione(nomeRegione)
        -
            const nomeFriendly = nomiFriendly[nomeRegione];
            const coloreZona = colorOf(nomeRegione);
        doctype html
        include head.pug
        body
            case coloreZona
                when "rossa"
                    +hero_small_rossa()
                when "arancione"
                    +hero_small_arancione()
                when "gialla"
                    +hero_small_gialla()
            section.section.body
                case coloreZona
                    when "rossa"
                        +zona_rossa(nomeRegione)
                    when "arancione"
                        +zona_arancione(nomeRegione)
                    when "gialla"
                        +zona_gialla(nomeRegione)
                br
                each rule in allRulesForRegion(nomeRegione).reverse()
                    +rule_to_card(rule)
            include footer.pug
            script(src="/script.js" async)