include calendario.pug
mixin zona_bianca(nomeRegione, regolaZona)
    - const nomeFriendly = nomiFriendly[nomeRegione];
    article
        header.has-text-centered#title-zona-bianca
            h1.title.is-1
                | #{nomeFriendly}: zona bianca
                if regolaZona.rafforzata /* ??? */
                    |  rafforzata
            // h2.subtitle Spostamenti liberi, rimane l'obbligo di mascherina negli ambienti al chiuso e distanziamento.
            .is-hidden-desktop
                button.button(onclick=`navigator.share({text: 'In ${nomeFriendly} siamo in zona bianca: https://inchezonasiamo.it/${nomeRegione}'})`) Condividi
                br
            br

            +calendario(nomeRegione)
            aside: p.has-text-centered
                | Ultimo aggiornamento: 
                time(pubdate datetime=(new Date().toISOString()))=new Date().toLocaleString("it-IT", {timeZone: "Europe/London", day: '2-digit', month: 'long', hour: 'numeric', minute: 'numeric'})
        br

        section: ul#ul-zona
            p Obbligo di usare la mascherina (FFP2 in alcuni luoghi chiusi, FFP2 o chirurgica all'aperto) e di rispettare il distanziamento
            // li Coprifuoco non in vigore
            +restrizione("car-fill", "Spostamenti")
                li Sempre permessi gli spostamenti verso zone bianche e gialle; verso zone arancioni, solo spostamenti per lavoro, salute o necessità
                li Necessario green pass base per trasporto pubblico, treni, navi e aerei
                li Necessaria mascherina FFP2 sui mezzi pubblici
            +restrizione("briefcase-fill", "Lavoro")
                li Necessario green pass base per tutti i lavoratori
                li Obbligo vaccinale per alcuni lavoratori pubblici
            +restrizione("shopping-cart-2-fill", "Attività commerciali")
                li Aperte tutte le attività commerciali eccetto discoteche e sale da ballo
                li Necessario green pass rafforzato per consumare al chiuso
                li Necessario green pass rafforzato per hotel, centri benessere e termali, parchi divertimento
                li Necessario green pass rafforzato per centri sociali e ricreativi al chiuso
                li Chiuse sale da ballo e discoteche fino al 31 gennaio; poi necessaria terza dose, o seconda dose + tampone
                li Dopo il 31 gennaio necessaria terza dose, o seconda dose + tampone, per accedere a feste o eventi al chiuso
            +restrizione("pencil-fill", "Scuole e università")
                li Aperte scuole e università
                li Necessario green pass base per accedere alle università
            +restrizione("run-fill", "Attività motoria e sportiva")
                li Aperte palestre e piscine
                li Necessario green pass base per attività motoria o sportiva al chiuso e per accedere agli spogliatoi
                li Necessario green pass rafforzato per assistere a competizioni sportive al chiuso
            +restrizione("palette-fill", "Cultura")
                li Necessario green pass base rafforzato per mostre, musei, spettacoli al chiuso
