include calendario.pug
include restrizione.pug
mixin zona_arancione(nomeRegione, regolaZona)
    - const nomeFriendly = nomiFriendly[nomeRegione];
    article
        header.has-text-centered#title-zona-arancione
            h1.title.is-1
                | #{nomeFriendly}: zona arancione
                if regolaZona.rafforzata
                    |  rafforzata
            h2.subtitle Coprifuoco, divieto di spostarsi tra comuni se non piccoli.
            .is-hidden-desktop
                button.button(onclick=`navigator.share({text: 'In ${nomeFriendly} siamo in zona arancione: https://inchezonasiamo.it/${nomeRegione}'})`) Condividi
                br
            br

        +calendario(nomeRegione)
        aside: p.has-text-centered
            | Ultimo aggiornamento: 
            time(pubdate datetime=(new Date().toISOString()))=new Date().toLocaleString("it-IT", {timeZone: "Europe/London", day: '2-digit', month: 'long', hour: 'numeric', minute: 'numeric'})
        br

        section: ul#ul-zona
            +restrizione("car-fill", "Spostamenti")
                p È consentito spostarsi all'interno del proprio Comune #[strong dalle 5:00 alle 22:00]. È sempre consentito spostarsi per motivi di lavoro, necessità o salute, o per fare rientro alla propria residenza, domicilio o abitazione.
                p È consentito lo spostamento verso una sola abitazione nel proprio comune, una volta al giorno, tra le 5:00 e le 22:00, per un massimo di due visitatori. Non rientrano nel conteggio i figli minori di 14 anni e i disabili. In questo caso il rientro all'abitazione dovrà avvenire tra le 5:00 e le 22:00.
            +restrizione("map-2-fill", "Piccoli comuni")
                p Per chi abita in un paese di meno di 5.000 abitanti, la regola dello spostamento verso una sola abitazione si applica invece per una distanza di 30 km. Non è possibile però raggiungere i capoluoghi di provincia.
            +restrizione("run-fill", "Attività motoria e sportiva")
                p L'attività motoria e sportiva è permessa dalle 5 alle 22.
                p Qualora un'attività sportiva non sia disponibile nel proprio comune è possibile svolgerla in un altro comune nella stessa regione, dalle 5:00 alle 22:00.Se l'attività sportiva comporta uno spostamento (es. corsa o bicicletta) è possibile transitare per un altro comune, ma l'attività deve concludersi nel comune di partenza.
                p Sono chiuse palestre e piscine.
            +restrizione("run-fill", "Attività commerciali")
                p Dalle 5 alle 22 sono aperti solo da asporto #[strong ristoranti, pasticcerie, gelaterie] e simili; dalle 5 alle 18 solo da asporto i #[strong bar]. È sempre consentita la consegna a domicilio. Non è possibile consumare cibi e bevande all'interno dei locali o nelle loro prossimità.
                p I negozi sono aperti.
            // +restrizione("pencil-fill", "Scuole e università")
                p Le scuole dell'infanzia sono sospese.
                p Per tutte le scuole e le università la didattica è a distanza; i singoli atenei possono prevedere eccezioni.
            +restrizione("palette-fill", "Cultura")
                p Sono chiusi musei, mostre, teatri e cinema. Le biblioteche sono aperte solo su prenotazione.
            +restrizione("group-fill", "Attività politica")
                p Le manifestazioni in forma statica sono permesse, ed è possibile uscire dal proprio comune per parteciparvi.
                p Sono permesse le attività e riunioni sindacali.